<html>

<head>
    <title>保存KeyStore文件</title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/jquery.url.js"></script>
    <script src="js/wallet.js"></script>
</head>

<body>
    <div id="nav">
        <script>
            $("#nav").load("html/nav.html")
        </script>
    </div>

    <div id="main">

        <div id="save-keystore">
            <h1>保存KeyStore文件</h1>
            <br>
            <a href="<%= downloadurl %>">保存KeyStore文件</a>
            <br>
            <br>
            <button onclick="saveKeystoreNext()">Next Step</button>
        </div>
        <div id="save-privatekey" style="display:none">
            <h3>请复制保存您的钱包私钥</h3>
            <div>
                <%= privatekey %>
                <br>
                <span>请务必妥善保管!</span><br>
                <span>请务必妥善保管!</span><br>
                <span>请务必妥善保管!</span><br>
            </div>
        </div>
    </div>

</body>

</html>