<html>

<head>
    <title>首页</title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/jquery.url.js"></script>
    <script src="js/wallet.js"></script>
    <link rel="stylesheet" href="css/wallet.css">
</head>

<body>
    <div id="nav">
        <script>
            $("#nav").load("html/nav.html")
        </script>
    </div>
    <div id="main">
        <h1>欢迎学习以太坊中心化钱包项目</h1>
        <span>在之前的一篇文章以太坊智能合约项目-Token合约开发与部署中，我们提到了钱包了钱包的概念以及主流的几种钱包，如Mist,MyEtherWallet,MetaMask等，之前我们主要将钱包作为一个开发工具使用，用于智能合约的开发与调试工作，使用较多的是浏览器插件钱包MetaMask。</span>
        <br>
        <span> 在本文中，我们主要介绍MyEtherWallet以及如何实现一个简易版的MyEtherWallet网页版应用，在本文中，我们能够学习到如下内容</span>
        <br>
        <span>
            <ul>
                <li>- node.js开发基础</li>
                <li>- web3.js API使用</li>
                <li>- 以太币转账实现</li>
                <li>- Token转账实现</li>
            </ul>
        </span>
        <span>
            目前主流的钱包平台已经有太多了，而且有很多已经做得比较完善了，所以我们本文的开发工作只是为了学习以太坊开发技术，并非去设计一个新的钱包软件，重复造轮子几乎没有任何价值。
        </span>

    </div>
</body>

</html>